<main>
    <section class="about">
        <article class="title">
            <div class="left">
                <h2>АРХИТЕКТУРНАЯ КОМПАНИЯ МИКЕЛАНДЖЕЛО</h2>
            </div>
            <div class="right">
                <p>Это текст. Нажмите один раз и выберите «Редактировать текст» или просто кликните дважды, чтобы добавить свой текст и настроить шрифт. Вы можете переместить его в любое место на странице. Расскажите посетителям сайта о себе.</p>
                <p>Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами. Приводите увлекательные факты и цифры. Не забудьте про ключевые слова, по которым ваш сайт найдут в поисковых системах. Чтобы добавить свое фото, нажмите на изображение и выберите «Заменить фото».</p>                
             </div>
        </article>
     <h2>АРХИТЕКТОРЫ</h2>
     <article class="about-card-area">
         <app-about-card
         *ngFor="let item of aboutCardItem" [aboutCard]='item'
         ></app-about-card>
     </article>
    </section>
</main>
