.card{
    border: none;
    border-radius: 0px;
    background-color: transparent;
    color: #c7c7c7;
    margin-bottom: 55px;
}

.card .row{
    justify-content: space-between;
}

.card .row .img{
    width: 32%;
    max-height: 263px;
}

.card .row .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .row .text{
    width: 60%;
    padding: 20px 0px 0px;
}

.card-body{
    padding: 0px;
}

.card .row .text .card-body span{
    display: inline-block;
    margin: 0px 0px 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.25em
}

.card .row .text .card-body h5{
    font-size: 30px;
    letter-spacing: 0.2em;
    color: #957B5F;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0px 0px 25px;
}

.card .row .text .card-body p{
    max-width: 260px;
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 1.4em;
    font-weight: 600;
    color: #c7c7c7;
}

.card .row .text .card-body a{
    font-size: 15px;
    font-weight: 600;
    transition: 0.4s;
    color: #c7c7c7!important;
}

.card .row .text .card-body a:hover{
    text-decoration: none;
}

@media screen and (max-width:900px){
    .card .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card .row .img{
        width: 50%;
        overflow: hidden;
    }

    .card .row .text .card-body p{
        max-width: 100%;
    }
}


@media screen and (max-width:500px){
    .card .row .img, .card .row .text{
        width: 100%;
    }
}